body{
    
}

.mapdiv{
    width:120vw;
    height: auto;
    margin-top: 0;
    background: whitesmoke;

}
#something{
    z-index: 999;
    width: 10%;
    height: 5%;
    background: whitesmoke;
}
.mapdiv path {
    fill: rgb(18, 82, 10);
    stroke:rgb(21, 11, 68);
    stroke-width:3px;
    transition: fill 0.4s;
}

.mapdiv :hover {
    fill:rgb(247, 24, 24);
}

#left-category{
    width: 20%;
    background: black;
}
#container {
    height: 100%;
    width: 100%;
    display: flex;
    background: black;
}
svg{
    
}
canvas {
    background: 
      linear-gradient(
        hsl(200, 50%, 80%) 0%, 
        hsl(200, 30%, 95%) 75%)
    ;
    display: block;
  }
  
  